
// Body
$body-bg: #fafaff;

// Typography
$font-header: "Josefin Sans", sans-serif;
// $font-body: "Open Sans", sans-serif;
$font-body: "Montserrat", sans-serif;
$font-header-weight: 700;
$font-body-weight: 400;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$lightnav: #fdfdff;
$headertext: #116DB6;
$darkheadertext: #161d8e;
// red button
// $button: rgba(255, 0, 0, .7);
$button: #f0002d; //darkred
// $button: #f2574f; //pinkred
$graytext: #CE5940;
$gray: #545b62;
$darkblue: #FDFCFD;
$darkgray: #594346;
$graybg: #f6f7f9;
$md: #e00607;
