
// Fonts
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
  font-size:15px;
  font-family: $font-body;
  letter-spacing: 1.5px;
  font-weight: $font-body-weight;
}
.fonts {
  margin-bottom: 0.5rem;
  font-weight: $font-header-weight;
  line-height: 1.2;
  text-transform: uppercase;
}
h3,h4,h5,h6{
  font-family: $font-header;
  color: $headertext;
  @extend .fonts;
}
h1,h2{
  color: $darkheadertext;
  font-family: $font-header;
  @extend .fonts;
}

hr {
  display: block;
  display: block;
  border: 1px solid #7f7b7a;
  margin: 30px auto;
}
i {
  font-family: fontawesome !important;
}
a{
  text-transform: uppercase;
  &:hover,&:focus{
    text-decoration: none;
  }
}
.alert-danger {
  color: #fff;
  background-color: #db4437;
  border-color: #f5c6cb;
  background-image: none;
}
.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alert-email{
  color: #db4437;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: 0;
}
.m-bottom{
  margin-bottom: 30px!important;
}

.hid-xs{
  @media( max-width : 991px ){
    display: none;
  }
  @media( min-width : 992px ){
    display: block;
  }
}
.hids-xs{
  @media( max-width : 991px ){
    display: none;
  }
  @media( min-width : 992px ){
    display: block;
  }
}
.hid-sm{
  @media( min-width : 992px ){
    display: none;
  }
  @media( max-width : 991px ){
    display: block;
  }
}
.fa-edit, .fa-trash{
  font-size: 20px;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@import 'components/style';
@import 'components/nav';
@import 'components/navpills';
@import 'components/modal';
@import 'components/buttons';
@import 'components/brand';
@import 'components/cart';
@import 'components/fancy';
@import 'components/slider';
@import 'components/forms';
@import 'components/carousel';
@import 'components/banner';
@import 'components/content';
@import 'components/login';
@import 'components/footer';
